body {
    font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
    font-family: 'Amatic SC', sans-serif;
    margin: 0 ;
    padding: 0 ;
    max-width:1920px;
}

h2,
h3 { text-transform: uppercase;

}

h2 { font-size: 36px;

}

h3 { font-size: 22px;

}

/* header */

.center {
    width: 100%;
    margin: 0 auto;
}

/*slides*/

.center h2{
    text-align:center;
}

.logo{
    z-index:9999;
    width:150px;
   position:absolute;
    bottom:50px;
    left:20px;

}
.header-top{
    position:absolute;
    bottom:550px;

}

.menu-btn {
    display: block;
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    position: relative;
}
.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
    position: absolute;
    top: 50%; margin-top: -1px;
    left: 50%; margin-left: -10px;
    width: 20px;
    height: 2px;
    background-color: white;
}
.menu-btn span::before,
.menu-btn span::after {
    content: '';
    display: block;
    transition: 0.2s;
}
.menu-btn span::before {
    transform: translateY(-5px);
}
.menu-btn span::after {
    transform: translateY(5px);
}

.menu-btn_active span:before {
    transform: rotate(-45deg);

}
.menu-btn_active span:after {
    transform: rotate(45deg);

}
.menu-btn_active span{
    height: 0;
}
.menu-btn_active span:before,
.menu-btn_active span:after{
    background-color:red ;
}
.menu-block {
    bottom: 40px;
    left:700px;
    z-index: 9999;
    position: absolute;
    display: flex;

}
.menu-nav a {
    text-align: center ;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 100;
    display: inline-block;
    margin-right: 20px;
    transition: 1s;
    padding-top: 12px;
}
.menu-nav a i{
    padding-right: 4px;
}
.menu-nav {
    transition: 0.2s;
    transform: scaleX(0) translateX(0%);
    transform-origin: right center;
    opacity: 0;
    visibility: hidden;
    height: 50px;
    width: 700px;
    line-height: 50px;
    background-color:black;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: -25px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.menu-nav_active {
    transform: scaleX(1) translateX(0%);
    opacity: 1;
    visibility: visible;
}
.menu-nav_remove{transition: 0.2s;
    transform: scaleX(0) translateX(0%);
    transform-origin: right center;
    opacity: 0.1;
}
.page-header a {
    color:white;
    position:relative;
    text-transform: uppercase;
    font-size: 25px;
    text-decoration: none;
    transition: color .1s linear;
    display: inline-block;
    line-height: 1;
    cursor: pointer;
}
.page-header a:hover{
    color:#FFFF00;
}
.page-header a:after {
    content: "";
    opacity: 0;
    width: 0;
    height:1px;
    position: absolute;
    background-color: #FFFF00;
    left:50%;
    bottom:-5px;
    z-index:9999;
    display:block;
    -webkit-transition: width .3s ease-in-out;
    -moz-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    transform:translateX(-50%);
}
#btn1:hover:after,
#btn1:focus:after{
    width:0;
}
.page-header a:hover:after,
.page-header a:focus:after {
    width: 100%;
    opacity: 1;
}
.header-promo  {
    z-index:999;
    text-align:center;
    width: 100%;
    position:absolute;
    bottom:200px;
    color: lightgoldenrodyellow;
    font-size: 92px;
    font-weight: bold;
    letter-spacing: 5px;
    line-height: 72px;
    text-shadow: 0 1px 0 #ccc,
                 0 2px 0 #c9c9c9,
                 0 3px 0 #bbb,
                 0 4px 0 #b9b9b9,
                 0 5px 0 #aaa,
                 0 6px 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1),
                 0 1px 3px rgba(0,0,0,.3),
                 0 3px 5px rgba(0,0,0,.2),
                 0 5px 10px rgba(0,0,0,.25),
                 0 10px 10px rgba(0,0,0,.2),
                 0 20px 20px rgba(0,0,0,.15);
}
.p-promo {
    margin: 40px;
    padding:0;
}
.p-promo:last-child{
    margin-top:50px;
}

.p-promo{
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;

    animation-duration: 2s;
    -webkit-animation-duration: 2s;

    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;

    visibility: visible !important;
}

@keyframes fadeIn {
    0% {
        transform: scale(0);
        opacity: 0.0;
    }
    60% {
        transform: scale(1.1);
    }
    80% {
        transform: scale(0.9);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        -webkit-transform: scale(0);
        opacity: 0.0;
    }
    60% {
        -webkit-transform: scale(1.1);
    }
    80% {
        -webkit-transform: scale(0.9);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}

/* slider */
#slides {
    position: relative;
    height: 850px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.showing {
    opacity: 1;
    z-index: 2;
}

/*
Второстепенные стили
*/
.slide:nth-of-type(1) {
    background: url(../img/pole.jpg) no-repeat;
    background-size: 100%;
}
.slide:nth-of-type(2) {
    background: url(../img/5.jpg) no-repeat;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}
.slide:nth-of-type(3) {
    background: url(../img/3.jpg) no-repeat;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}
.slide:nth-of-type(4) {
    background: url(../img/4.jpg) no-repeat;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}
.slide:nth-of-type(5) {
    background: url(../img/2.jpg) no-repeat;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

}


/* new-sale */

.new-sale {

    height:1000px;
    width:100%;


}

.new-sale h2 {
    padding-top:90px;
    font-size: 80px;
    margin-bottom: 100px;
    text-shadow: 0 4px 3px rgba(0,0,0,0.4),
                 0 8px 13px rgba(0,0,0,0.1),
                  0 18px 23px rgba(0,0,0,0.1);
}

.new-sale h3 {
    text-shadow: 0 4px 3px rgba(0,0,0,0.4),
                 0 8px 13px rgba(0,0,0,0.1),
                 0 18px 23px rgba(0,0,0,0.1);
    font-size: 36px;
}

.new-sale table {
    border-bottom: 1px solid grey;
}

.new-item {
    display:inline-block;
    margin-left: 200px;
    height: 600px;
    padding: 35px;

}
.new-item:last-child{
    width:25%;

}
.value{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.new-item table {
    text-transform: uppercase;
    font-weight: bold;
}

.new-item table,
.new-item .sost {
    width: 150px;
    font-size: 14px;
    position: relative;
    left: 220px;
    z-index: 5;
}

.new-item h3,
.ptop,
b {
text-align:center;
}

.center ul li{
    list-style-type:none ;
    display:inline-block;

}
.center1 {
    z-index: 4;
    margin-bottom:400px;

}
.new-item .ptop {
    font-size: 20px;
    line-height: 20px;

}
.scale{
    transition: 1s; /* Время эффекта */
}
.scale:hover {
    transform: scale(1.1); /* Увеличиваем масштаб */
}


/* button*/

.button {
    font-weight: bold;
    position:relative;
    display:inline-block;
    background-color: #ffdaaa;
    border-radius: 15px;
    color:black;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 24px;
    letter-spacing: 4px;
    padding: 15px 30px;
    overflow: hidden;
    transition: 0.2s;
    box-shadow: 0 8px 15px rgba(0,0,0,.5);
}

.button__line {
    position: absolute;
    display: block;
}
.button__line--top {
    top:0;
    left:-100%;
    width: 100%;
    height: 2px;
    background:linear-gradient(90deg,transparent,#2196f3);

}
.button:hover .button__line--top{
    left:100%;
    transition:1s;
    transition-delay: 0.25s;
}
.button__line--bottom  {
    bottom:0;
    right:-100%;
    width: 100%;
    height: 2px;
    background:linear-gradient(270deg,transparent,#2196f3);

}
.button:hover .button__line--bottom {
    right:100%;
    transition:1s;
    transition-delay: 0.25s;
}
.button__line--left {
    bottom:-100%;
    left:0;
    width: 2px;
    height: 100%;
    background:linear-gradient(0deg,transparent,#2196f3);

}
.button:hover .button__line--left{
    bottom:100%;
    transition:1s;
    transition-delay: 0s;
}
.button__line--right {
    top:-100%;
    right:0;
    width: 2px;
    height: 100%;
    background:linear-gradient(180deg,transparent,#2196f3);

}
.button:hover .button__line--right{
    top:100%;
    transition:1s;
    transition-delay: 0s;
}
.button:hover {
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3,0 0 80px #2196f3;
  background-color:#2196f3;
    color:#333;
    transition-delay: 1s;
}
.btn_center{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}
/* advantage */

.advantages {
    height: 400px;
    background: #FFCB78;
}

.advantages ul {
    text-align:center;
}

.advantages li {
    margin-right:150px;
    margin-top: 110px;
    display: inline-block;
    vertical-align: bottom;
    text-align: left;
    padding: 0 40px;
    width: 210px;
    height: 230px;
    font-size: 20px;
    line-height: 26px;
    border-right: 1px solid #E7B66A;
}

.advantages li:last-child { border-right: none }

.advantages li p {
    color: #434446;
    margin-top: 30px;
}

/*history*/


.history h2 {
    padding-top: 50px;
    text-align:center ;
    font-size:60px;
    text-shadow: 0 4px 3px rgba(0,0,0,0.4),
                 0 8px 13px rgba(0,0,0,0.1),
                 0 18px 23px rgba(0,0,0,0.1);
}
.history h3 {
    font-size:25px;
}
.history p {
    font-size:20px;
}

.table{
    text-align:center;
    margin-top:50px;
    padding-left: 100px;
    padding-top: 100px;
    margin-bottom: 100px;
}
.table td:first-child {
    padding-right:300px;
    padding-left:100px;
    width: 490px;

}

.table td:last-child {


}

.table a {
    color: #894A03;

}

/*press*/

.press-block {
    text-align: center ;
    height: 480px;
    background: #EDE5D8;
}

.press h2 {
    text-shadow: 0 4px 3px rgba(0,0,0,0.4),
    0 8px 13px rgba(0,0,0,0.1),
    0 18px 23px rgba(0,0,0,0.1);
    font-size: 60px;
    padding-top: 50px;
    margin-bottom: 90px;
}

.press .presspost {

    font-size: 24px;
    line-height: 32px;
    color: #414342;
}

.press a,
.cite {
    display: inline-block;
    margin-top: 20px;
}

.press .cite {
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 270px;
    font-size: 20px;
}

.press ul li a {
    margin-bottom: 40px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    width: 166px;
    height: 46px;
    line-height: 46px;
    color: black;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    text-shadow: 0 4px 3px rgba(0,0,0,0.4),
                 0 8px 13px rgba(0,0,0,0.1),
                 0 18px 23px rgba(0,0,0,0.1);

}
.press .buy ul{
    margin-left:400px;
}
.newspaper{
    position:relative;
    width: 30%;
    bottom:95px;
left:600px;
    font-size: 24px;
}
.press .buy{
    width:50%;
}

/*stock*/
.wrapper {
    margin-top:150px;
    position: relative;
    width: 100%;
    height: 830px;
}

.inner-wrapper,
.blur {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}
.inner-wrapper {
    z-index: 100;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 5px rgba(0,0,0,.5);
}

.blur {
    overflow: hidden;
    z-index: 99;
    background-image: url('../img/6.jpg');
    filter: blur(4px) ;
    background-size: cover;
    background-repeat: no-repeat;
}
.inner-wrapper .buy ul{
    margin-top:60px;
}
.inner-wrapper .scale{
    transition: 1s;
}
.inner-wrapper .scale:hover {
    transform: scale(1.2);

}
.stock {
    height: 830px;

}

.stock h2 {
    text-shadow: 0 4px 3px rgba(0,0,0,0.4),
    0 8px 13px rgba(0,0,0,0.1),
    0 18px 23px rgba(0,0,0,0.1);
    font-size: 40px;
    padding-top: 80px;
    margin-bottom: 90px;
}

.stock table {
    margin:0 auto;
    text-transform: uppercase;
    border-collapse: collapse;
}

.stock table tr {
    line-height: 46px;
    font-size: 15px;
    border-bottom: 1px solid #E5E5E5;
}

.stock th {
    font-size: 20px;
    font-weight:bold;
    color: white;
    text-align: left;
    padding-bottom: 20px;
}
.stock td{
color:white;
}

.stock th:first-child,
.stock td:first-child {
    text-align:left;
    width: 400px;
    height: 65px;
}

.stock td:first-child {
    font-weight: normal;

}

.stock th:nth-child(2),
.stock td:nth-child(2) {
    width: 60px;
    height: 65px;
    text-align: center;
}

.stock th:nth-child(3),
.stock td:nth-child(3) {
    width: 60px;
    height: 65px;
    text-align: center;
}

.stock th:nth-child(4),
.stock td:nth-child(4) {
    width: 100px;
    height: 65px;
    text-align: center;
}

.stock th:nth-child(5),
.stock td:nth-child(5) {
    width: 200px;
    height: 65px;
    text-align: right;
}



.stock td sup {
    font-weight: bold;
    color: white;
    background: black;
    font-size: 12px;
    padding: 2px 5px;
    margin-left: 20px;
}
/* press */
.press-block{
    display:flex;
    justify-content: center;
}

/*footer*/



.container {
    height: 300px;
    background-color:black;
    border-top:3px solid tomato;
}
.logo-footer {
    padding-top: 20px;
    padding-left: 20px;
}
.social{
    color:white;
    list-style: none;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 650px;
    margin:0 auto;

}
.quality {
    width:50%;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    font-size:20px;
    letter-spacing: 5px;
    font-weight: bold;
    color:tomato;

}
.social__item {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 5px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:20px;
    transition: all 0.3s;
    cursor: pointer ;
}
.whatsapp:hover{
    border-color:#4dc247;
    box-shadow: 0 0 35px #4dc247;
    color:#4dc247;
}
.twitter:hover{
    border-color:#3D5AFE;
    box-shadow: 0 0 35px #3D5AFE;
    color:#3D5AFE;
}
.facebook:hover{
    border-color:blue ;
    box-shadow: 0 0 35px blue;
    color:blue;
}
.vk:hover{
    border-color:#00aced;
    box-shadow: 0 0 35px #00aced;
    color:#00aced;
}
.instagram:hover{
    border-color:#bc2a8d;
    box-shadow: 0 0 35px #bc2a8d;
    color:#bc2a8d;
}


.buy a {

    text-decoration: none;
    outline: none;
    display: inline-block;
    width: 140px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin-top: 60px;
    vertical-align:middle;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background-color: #ffdaaa;
    box-shadow: 0 8px 15px rgba(0,0,0,.8);
    transition: .3s;
}
.buy a:hover {
    background: #2EE59D;
    box-shadow: 0 15px 20px rgba(46,229,157,.4);
    color: white;
    transform: translateY(-7px);
}
.buy {
    width:100%;


}
.buy ul{
    display:table;
    margin:auto;
}
.buy ul li{
    list-style-type:none;
}
